# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [7]:
import pandas as pd
ratings = pd.read_csv('C:/DS/Test/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
ratings.loc[ratings.rating == 5.0].groupby('movieId').count().sort_values('rating', ascending = False).head(1)

         userId  rating  timestamp
movieId
318         170     170        170

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [1]:
import pandas as pd
data = pd.read_csv('C:/DS/Test/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [2]:
def baltic (country):
    """"Объединение стран Прибалтики"""
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Прибалтика'
    return 'Other'

data['baltic'] = data.country.apply(baltic)
data.baltic.value_counts()

def val (category):
    """Сумма категорий 4, 12, 21"""
    if category == 4 and category == 12 and category == 21:
        return(sum(category))

def years (year):
    """2005 - 2010 г.г."""
    if 2005 >= year >=2010:
        return 'years'

Other         1162176
Прибалтика      27306
Name: baltic, dtype: int64

In [7]:
data['baltic']['val']['years'].loc.query('quantity' > 0 )

NameError: name 'val' is not defined

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [16]:
import pandas as pd
page_url = 'https://fortrader.org/quotes'
#df = pd.read_html(page_url, attrs = {'class': 'tabl_quotes_btn alignright nav_buttons'}, encoding = 'utf-8')
#df = pd.read_html(page_url, attrs = {'class': 'Акции Лукойл'}, encoding = 'utf-8')
#df = pd.read_html(page_url, attrs = {'class': 'turn_content'}, encoding = 'utf-8')
#df = pd.read_html(page_url, attrs = {'class': 'quotes_table_descr'}, encoding = 'utf-8')
df = pd.read_html(page_url, attrs = {'class': 'metals'}, encoding = 'utf-8')

df[:5]

ValueError: No tables found