# Домашнее задание №12 по теме "Продвинутый Pandas"

# Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [14]:
import pandas as pd
log = pd.read_csv('C:/DS/Test/visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [49]:
log.loc[log.traffic_source == 'yandex', 'source_type'] = 'organic'
log.loc[log.traffic_source == 'google', 'source_type'] = 'organic'
log.loc[log.traffic_source == 'paid', 'source_type'] = 'ad'
log.loc[log.traffic_source == 'email', 'source_type'] = 'ad'
#log.loc[log.traffic_source == 'paid'&log.region == 'Russia', 'source_type'] = 'ad'
#log.loc[log.traffic_source == 'email', 'source_type'] = 'ad'

#log.loc[log.traffic_source == 'paid', 'source_type'] = 'ad'
#log.loc[log.traffic_source == 'email', 'source_type'] = 'ad'

log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

# Задание 1 - способ с функцией.

In [18]:
def sourse_type (type_):
    if traffic_source == 'yandex' or traffic_source == 'google' :
        return (organic)
    elif traffic_source == 'paid' or traffic_source == 'email' and region == 'Russia':
        return (ad)
    elif traffic_source == 'paid' or traffic_source == 'email' and region != 'Russia':
        return (other)
    

#log['source_type'] = log.apply(sourse_type)

# Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [46]:
import pandas as pd
url = pd.read_json('C:/DS/Test/URLs.txt')
#url = pd.read_json('C:/DS/Test/URLs.txt', sep=';')
url.head()

ValueError: Expected object or value

# Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, 
которые выставили более 100 оценок.
Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [19]:
import pandas as pd
ratings = pd.read_csv('C:/DS/Test/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [43]:
users = ratings.groupby('userId').count().sort_values('rating', ascending = False)
users.head()

        movieId  rating  timestamp
userId
547        2391    2391       2391
564        1868    1868       1868
624        1735    1735       1735
15         1700    1700       1700
73         1610    1610       1610

In [40]:
users.loc[users['movieId'] >= 100].head()

        movieId  rating  timestamp
userId
547        2391    2391       2391
564        1868    1868       1868
624        1735    1735       1735
15         1700    1700       1700
73         1610    1610       1610
452        1340    1340       1340
468        1291    1291       1291
380        1063    1063       1063
311        1019    1019       1019
30         1011    1011       1011
294         947     947        947
509         923     923        923
580         922     922        922
213         910     910        910
212         876     876        876
472         830     830        830
388         792     792        792
23          726     726        726
457         713     713        713
518         707     707        707
461         696     696        696
232         682     682        682
102         678     678        678
262         676     676        676
475         655     655        655
306         645     645        645
119         641     641        641
654         626     626        626
358         617     617        617
529         604     604        604

# Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента